html, body {
  width: 100%;
  height: 100%;
}

header{
  height: 300px;
  width: 100%;
  background-image: url('../images/colorful-books.jpg');
  background-size: cover;
}

nav {
  height: auto;
  width: 100%;
}

#exampleNavComponents > ul > li > a{
  font-weight: bold;
}

.navbar-brand{
    font-weight: bold;
    font-size: 2em !important;
}

#logout{
  width: 100px;
  padding-top: 9px;
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  height: 100px;
  position: relative;
  top: 40px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
}

/****************LOG IN HOME PAGE/REGISTER PAGE*******************/
#register_success_msg{
  margin: 0 auto;
  padding-top: 40px;
  font-size: 18px;
  color: blue;
}

#email_status{
	color: red;
	font-size: 1em;
  margin-bottom: 5px;
}

#login_container{
  background-image: url("../images/book_background.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  /*display: flex;*/
}

#login_container_color{
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#home_title{
  text-align: center;
  width: 200px;
  height: 60px;
  margin: 10px auto;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  position: relative;
  top: 50px;
}

#login_form{
  margin: 0 auto;
  z-index: 1;
  width: 100%;
}

#user_errDiv{
  font-size: 1.2em;
  color: red;
  margin-top: 20px;
}

#register_form{
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
}

body.my-login-page {
	background-color: #f7f9fb;
	font-size: 14px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	margin: 40px auto;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
	margin: 0 auto;
  background-color: white;
  border-radius: 8px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .margin-top20 {
	margin-top: 20px;
}

.my-login-page .no-margin {
	margin: 0;
}

.my-login-page .footer {
	margin: 30px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
  #home_title{
    position: relative;
    top: 30px;
  }

  .my-login-page .card-wrapper {
  	width: 90%;
    min-width: 300px;
  }
}
/****************END OF LOG IN HOME PAGE/REGISTER PAGE*******************/

/****************SHOW BOOKS PAGE*********************/

#loggedin_as{
  width: 100%;
  height: auto;
  text-align: right;
  padding: 10px;
  padding-right: 30px;
  font-size: 18px;
}

#showBooks_container{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
  top: 40px;
  margin-bottom: 40px;
}

.book{
  display: grid;
  justify-content: center;
  width: 30%;
  height: 480px;
  min-width: 280px;
  max-width: 450px;
  box-sizing: border-box;
  border: 1px solid blue;
  border-radius: 8px;
  text-align: center;
  margin: 10px;
}

.book h1, .book h2, .book h3{
  font-size: 1.2em;
  margin: 0;
  padding-top: 8px;
}

.book h1{
  grid-column: 1 /span 3;
  grid-row: 1;
}

.book h2{
  grid-column: 1 /span 3;
  grid-row: 2;
  height: 40px;
}

.cover{
  grid-column: 1 /span 3;
  grid-row: 3;
  height: 280px;
  margin: 15px auto;
  width: 220px;
}

.book h3{
  grid-column: 1 /span 3;
  grid-row: 4;
}

.book .mill_sold{
  grid-column: 1 /span 3;
  grid-row: 5;
  margin-bottom: 10px;
}

.update_delete{
  grid-column: 1 /span 3;
  grid-row: 6;
}

#update_delete{
  display: inline-flex;
  margin-top: 10px;
}

#update_button, #delete_button{
  width: 80px;
  margin-bottom: 10px;
}

#update_button{
  margin-right: 15px;
}

#delete_button{
  margin-left: 15px;
}

@media screen and (max-width: 950px) {
	#showBooks_container{
    grid-template-columns: auto auto;
	}
}

@media screen and (max-width: 650px) {
	#showBooks_container{
    grid-template-columns: auto;
	}
}
/*************END OF SHOW BOOKS PAGE***************/

/*************ADD NEW BOOKS PAGE***************/
#add_newbook,
#update_form{
  position: relative;
  top: 50px;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  padding: 20px;
}

#update_form{
  position: relative;
  top: 30px;
  margin-bottom: 30px;
}

#update_form h1{
  margin-bottom: 40px;
}

#add_newbook .form-group,
#update_form .form-group{
  display: inline-flex;
  width: 100%;
  align-items: center;
}

#add_newbook .form-group label,
#update_form .form-group label{
  width: 15%;
  min-width: 100px;
}

#add_newbook .form-group input,
#update_form .form-group input{
  width: 85%;
}

#edit_button,
#add_button{
  width: 100px;
  height: 40px;
  padding: 0;
}

#file_error_msg p,
#update_msg p{
  color: red;
  font-size: 1.3em;
}
/*************END OF ADD NEW BOOKS PAGE***************/


/*Add image styling*/
.userimg {
	width: 50px;
	height:auto;
}

#image_preview{
position: absolute;
font-size: 30px;
top: 100px;
left: 100px;
width: 220px;
height: 250px;
text-align: center;
line-height: 180px;
font-weight: bold;
color: #C0C0C0;
background-color: #FFFFFF;
overflow: hidden;
}

#file {
color: red;
padding: 5px;
border: 5px solid #77d7f5;
background-color: #77d7f5;
margin-top: 10px;
border-radius: 5px;
box-shadow: 0 0 15px #626F7E;
margin-left: 15%;
width: 72%;
}
#message{
position:absolute;
top:120px;
left:815px;
}
#success
{
color:green;
}
#invalid
{
color:red;
}
#line
{
margin-top: 274px;
}
#error
{
color:red;
}
#error_message
{
color:blue;
}
#loading
{
display:none;
position:absolute;
top:50px;
left:850px;
font-size:25px;
}
